@using Blog.Presentation.Framework.CommonModel
@model List<AdminMenu>

@helper RenderMenuItem(AdminMenu item)
{
    <li>
        
    </li>
}

<ul class="nav nav-pills nav-stacked custom-nav">
    @foreach (var item in Model)
    {
        @RenderMenuItem(item)
    }
</ul>