<?xml version="1.0" encoding="utf-8"  ?>
<configuration>

  <!-- Debug -->
  <item key="DataProvider" value="mysql"/>
  <item key="DataConnectionString" value="Server=127.0.0.1;Port=3306;Database=myblog;Uid=root;Pwd=root"/>

  <!--DataProvider:mysql
      DataConnectionString:Server=127.0.0.1;Port=3306;Database=myblog;Uid=root;Pwd=root-->

</configuration>
