<!DOCTYPE html>
<html>
<head>
    <meta name="generator" content="Hugo 0.19">
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">

    <link rel="stylesheet" href="https://dxy-f2e.github.io/blog//css/init.css">
    <link rel="stylesheet" href="https://dxy-f2e.github.io/blog//css/particles.css">
    <link rel="stylesheet" href="https://dxy-f2e.github.io/blog//css/markdown.css">
    <link rel="stylesheet" href="https://dxy-f2e.github.io/blog//css/style.css">
</head>
<body>



    <script type="text/javascript" src="https://dxy-f2e.github.io/blog//js/jquery-1.8.3.min.js"></script>
    <script src="https://cdn1.lncld.net/static/js/av-core-mini-0.6.4.js"></script>
    <script>
        function setLeanCloud() {
            AV.initialize('PPDrp7ANvEDvzYqBF2gKC7vY-gzGzoHsz', '60o0boL7ij0mkftarA5kEfNs');
        }
        setLeanCloud();
    </script>
</body>
</html>