
<div class="nav">
    <button class="menu"></button>
    <ul>

        <li>
            <a href="#">模块1</a>
            <span>(9999)</span>
        </li>

    </ul>
</div>

<div class="header">
    <a href="@Url.Action("Index", "Home",new {},"http")">
        <p class="title J-title">Test Blog</p>
        <p class="title">回到首页</p>
        <p class="sub-title">DXY Tech&amp;Product Division</p>
        <hr>
    </a>
</div>