<div class="header">
    <a href="@Url.Action("Index", "Home",new {},"http")">
        <p class="title J-title">Test Blog</p>
        <p class="title">回到首页</p>
        <p class="sub-title">DXY Tech&amp;Product Division</p>
        <hr>
    </a>
</div>