@charset "utf-8";

/*
    Global
*/

body {
    background-color: rgba(239, 239, 239, 1)
}


/* header */

.blog-header {
    position: fixed;
    z-index: 2;
    height: 38px;
    line-height: 38px;
    background: rgba(0, 0, 0, 0.5);
    transition: transform .2s linear;
}

.blog-header-unpinned {
    transform: translateY(-100%);
}

.blog-header .blog-container {
    position: relative;
}

.blog-header .blog-container .blog-nav-collapse-btn {
    width: 38px;
    height: 38px;
    background: transparent;
    border: none;
    cursor: pointer;
    color: #fff;
    position: absolute;
}

.blog-header .blog-container .blog-nav-title {
    text-align: center;
    display: none;
    visibility: hidden;
    color: #fff;
}

.blog-header .blog-container .blog-nav {
    position: relative;
}

.blog-header .blog-container .blog-nav li {
    margin: 0 !important;
    padding: 0 15px;
    border: width border-style color;
    color: rgba(255, 255, 255, 0.9);
}

.blog-header .blog-container .blog-nav li:hover {
    background: rgba(0, 0, 0, 0.5);
}

.blog-banner {
    height: 650px;
    background-image: url('../Images/header.jpg');
    background-size: cover;
    background-position: center 0;
    background-repeat: no-repeat;
}

.blog-banner .blog-title {
    position: relative;
    top: 180px;
    text-shadow: 0 1px 1px #47456d;
}

.blog-banner .blog-title a {
    font-weight: 300;
    font-size: 6.8rem;
    font-family: "kilsonburg", "Avenir Next", Helvetica, Arial, "Lantinghei SC", "Microsoft YaHei", sans-serif;
    color: #fff;
}


/* body */

.blog-body {
    width: 85%;
    min-width: 1024px;
    margin: 10px auto;
}

.blog-body .blog-main,
.blog-body .blog-sidebar {
    transition: all 1s ease-out;
}

.blog-body .blog-main .blog-article-list,
.blog-body .blog-sidebar .blog-siderbar-list {
    min-height: 1000px;
}

.blog-body .blog-main .blog-article-list .blog-article-item,
.blog-body .blog-sidebar .blog-siderbar-list .blog-siderbar-item {
    border-radius: 5px;
    min-height: 200px;
    background: #fff;
    padding: 15px;
}


/* Article */

.blog-article-item .publish-date {
    position: absolute;
    top: -20px;
    left: -35px;
    height: 60px;
    width: 70px;
    padding-top: 10px;
    border-radius: 100px;
    background-color: #92c0ef;
    color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.blog-article-item .publish-date .month,
.blog-article-item .publish-date .day {
    text-align: center;
    margin: 0;
}

.blog-article-item .publish-date .month {
    font-size: 1.5rem;
    line-height: 15px;
}

.blog-article-item .publish-date .day {
    font-size: 3rem;
    font-weight: 700;
}

.blog-article-item .article-meta {
    margin: 10px 0;
    color: #555;
    font-size: 14px;
    text-align: center;
}

.blog-article-item p {
    font-size: 1.5rem;
    margin: 10px 0;
}

.blog-article-item .title {
    font-size: 2.5rem;
    font-weight: normal;
    display: block;
    color: inherit;
    text-align: center;
    margin: 10px 0;
    max-height: 100%;
}

.blog-article-item .more {
    text-align: center;
}

.blog-article-item .detail {
    background-color: #92c0ef;
    color: #fff;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 5px;
}

.blog-article-item .blog-article-content img {
    width: 100%;
    border-radius: 5px;
}


/* Footer */

.blog-footer .blog-footer-image {
    position: absolute;
    z-index: 1;
    height: 360px;
    background-image: url('../Images/footer.png');
    background-position: center;
    background-repeat: no-repeat;
}

.blog-footer .blog-container {
    position: relative;
    top: 290px;
    height: 200px;
    background-color: rgba(35, 35, 35, 1);
}


/*
 * >=0px
 * <=640px
 */

@media screen and (min-width:0px) and (max-width:640px) {
    .blog-banner {
        height: 300px;
    }
    .blog-banner .blog-title {
        top: 100px;
    }
    .blog-banner .blog-title a {
        font-size: 3rem;
    }
}


/*
 * >=641px
 * <=1024px
 */

@media screen and (min-width:641px) and (max-width:1024px) {
    .blog-banner {
        height: 500px;
    }
    .blog-banner .blog-title a {
        font-size: 6rem;
    }
}


/*
 * >=0px
 * <=1024px
 */

@media screen and (min-width:0px) and (max-width:1024px) {
    .blog-header,
    .blog-header .blog-container {
        padding: 0;
    }
    .blog-header .blog-container .am-show-sm-only {
        display: inherit !important;
    }
    .blog-header .blog-container .blog-nav-title {
        display: block;
        visibility: visible;
    }
    .blog-header .blog-container .blog-nav li {
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
    }
    .blog-body {
        min-width: 100%;
    }
}


/*
    >=1025px
*/

@media screen and (min-width:1025px) {
    .blog-header .blog-container {
        max-width: 80%;
    }
    .blog-header .blog-container .blog-nav {
        display: block;
    }
}
