
@{
    Layout = "~\\Applications\\Blog.Presentation.Admin\\Views\\Share\\_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <section class="panel">
            <header class="panel-heading">
                文章列表
            </header>
            <div class="panel-body" style="display: block;">
                <table>
                    <thead>
                        <tr></tr>
                    </thead>
                    <tbody>
                        <tr></tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>
