
@{
    Layout = "~\\Applications\\Blog.Presentation.Admin\\Views\\Share\\_AdminLayout.cshtml";
}



<div class="row">

    <div class="col-sm-12">

        <section class="content-header panel">
            <div class="panel-body">
                <div class="clearfix">
                    <h1 class="pull-left">
                        Customers
                    </h1>
                    <div class="pull-right">
                        <a href="#" class="btn btn-info">
                            <i class="fa fa-plus-square"></i>
                            Add new
                        </a>
                        <div class="btn-group">
                            <button type="button" class="btn btn-success">
                                <i class="fa fa-download"></i>
                                Export
                            </button>
                            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                <span class="caret"></span>
                                <span class="sr-only">&nbsp;</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-file-code-o"></i>
                                        Export to XML (all found)
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-file-code-o"></i>
                                        Export to XML (all found)
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="panel">
            <div class="panel-body">
                <div class="col-md-5">
                    <div class="form-group">
                        <div class="col-md-4">
                            <label>Email</label>
                        </div>
                        <div class="col-md-8"><input class="form-control text-box single-line" id="SearchEmail" name="SearchEmail" type="text" value=""></div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="form-group">
                        <div class="col-md-4">
                            <label>Email</label>
                        </div>
                        <div class="col-md-8"><input class="form-control text-box single-line" id="SearchEmail" name="SearchEmail" type="text" value=""></div>
                    </div>
                </div>
            </div>
        </section>

        <section class="panel">
            <div class="panel-body">
                <div class="blogs-grid"></div>
            </div>
        </section>

    </div>

</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $(".blogs-grid").kendoGrid({
                dataSource: {
                    type: "json",
                    transport: {
                        read: {
                            url: "@Html.Raw(Url.Action("BlogPostList", "BlogPost"))",
                            type: "POST",
                            dataType: "json",
                            data: additionalData
                        }
                    },
                    schema: {
                        data: "Data",
                        total: "Total",
                        errors: "Errors"
                    },
                    error: function(e) {
                        //display_kendoui_grid_error(e);
                        // Cancel the changes
                        this.cancelChanges();
                    },
                    pageSize: 10,
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true
                },
                pageable: {
                    refresh: true,
                    @*pageSizes: [@(gridPageSizes)],
                    @Html.Partial("_GridPagerMessages")*@
                },
                scrollable: false,
                dataBound: onDataBound,
                columns: []
            });
        });

        function additionalData() {
            
        }

        function onDataBound() {
            
        }

    </script>
}